#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Cuerpo {
  margin-left: 10px;
  margin-top: 10px;
}

.ListaProductos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Productos {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 15px;
  background-color: greenyellow;
}

.Imagen {
  height: 150px;
  width: 200px;
}

.Error {
  color: red;
}

.styled-select {
  padding: 10px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border: 2px solid #007BFF;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
}

.styled-select:focus {
  border-color: #0056b3;
  outline: none;
}

.styled-select option {
  background-color: #fff;
  color: #333;
}

.Boton {
  background-color: #007BFF;
    color: #fff;
    border: none;
    height: 50px;
    width: 200px;
    font-size: large;
    border-radius: 10px;
}

.Boton:hover {
  background-color: #0056b3;
}